<div id="edit-review-div" *ngIf="childSelectedReview">
  <h3>Edit review</h3>
  <div class="form-group">
    <label>Edit artist:</label>
    <input [(ngModel)]="childSelectedReview.artist" class="form-control">
  </div>
  <div class="form-group">
    <label>Edit album:</label>
    <input [(ngModel)]="childSelectedReview.album" class="form-control">
  </div>
  <div class="form-group">
    <label>Edit rating:</label>
    <input [(ngModel)]="childSelectedReview.rating" class="form-control">
  </div>
  <div class="form-group">
    <label>Edit genre:</label>
    <input [(ngModel)]="childSelectedReview.genre" class="form-control">
  </div>
  <br>
  <button (click)="finishedEditing()" class="btn btn-primary btn-lg">Done editing</button>
  <button (click)="deleteReview()" class="btn btn-danger btn-lg">Delete review</button>
</div>
