<div class="panel panel-default">
  <div class="panel-heading">
  <h3>Add New Review</h3>
    <div>
      <div>
        <label>Artist:</label>
        <br>
        <input #newArtist>
      </div>

      <div>
        <label>Album:</label>
        <br>
        <input #newAlbum>
      </div>

      <div>
        <label>Genre:</label>
        <br>
        <input #newGenre>
      </div>

      <div>
        <label>Description:</label>
        <br>
        <input #newDescription>
      </div>

      <div>
        <label>Rating::</label>
        <br>
        <input #newRating>
      </div>

      <div>
        <label>Review body:</label>
        <br>
        <textarea #newBody></textarea>
      </div>
      <button (click)="submitForm(newArtist.value, newAlbum.value, newGenre.value, newDescription.value, newBody.value, newRating.value); newArtist.value=''; newAlbum.value=''; newGenre.value=''; newDescription.value=''; newBody.value=''; newRating.value=''">Add</button>
    </div>
  </div>
</div>
