body {
  background-color: #FCDDBB;
  color: #F79256;
}

.jumbotron {
  background-color: #7DCFB6;
  color: #1D4E89;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

h3 {
  font-size: 3em;
  font-weight: bold;
}

.content-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
